<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tg Domain Upload</title>
  <script src="/upload.js"></script>
  <link rel="stylesheet" type="text/css" href="/modal.css">
</head>
<body>
<h1>파일 업로드</h1>
<form id="file-upload-form" method="POST" action="domain-upload" enctype="multipart/form-data">
  <label for="file-upload">파일 선택:</label>
  <input type="file" id="file-upload" name="file">
  <button type="submit">업로드</button>
</form>

<button onclick="truncateDomain()" style="margin-top: 50px; margin-left: 30px;">DB에서 Domain Data 모두 삭제</button>

<div id="uploadSuccessModal" class="modal">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal()">&times;</span>
    <h2>업로드 성공!</h2>
    <p>파일 업로드가 성공적으로 완료되었습니다.</p>
  </div>
</div>


<script src="/upload.js"></script>
<script>
  function closeModal() {
    document.getElementById('uploadSuccessModal').style.display = 'none';
  }
  function truncateDomain() {
    fetch('/domain_truncate', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      }
    })
            .then(response => response.json())
            .then(data => {
              alert(data.message);
            })
            .catch(error => console.error('Error:', error));
  }
</script>

</body>
</html>