<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tg Domain Register</title>
<!--  <link rel="stylesheet" type="text/css" href="/modal.css">-->
</head>
<body>
<h1>Domain 등록</h1>
<form id="client-retrieve-form">
  <label for="client-name">고객사:</label>
  <input type="text" id="client-name" name="client-name">
  <button type="submit">조회</button>
</form>

<ul id="clientUrls"></ul>

<form id="new-client-url-form" style="display: none; margin-bottom: 10px">
  <input type="text" id="newClientUrlInput" name="newClientUrl" placeholder="New Client URL">
  <button type="submit">Submit</button>
</form>

<h2>Recommended Domain List</h2>
<ul id="recommendedDomainList"></ul>

<script src="/client_get.js"></script>

</body>
</html>