<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tg Domain Register</title>
<!--  <link rel="stylesheet" type="text/css" href="/modal.css">-->
</head>
<body>
<h1>Domain 등록</h1>
<form id="client-retrieve-form" method="POST" action="domain-register">
  <label for="client-name">고객사:</label>
  <input type="text" id="client-name" name="client-name">
  <button type="submit">조회</button>
</form>

<div  id="clientName" style="margin-top: 30px"></div>
<!--<ul id="requestList"></ul>-->
<ul id="clientUrls"></ul>

<h2>Recommended Domain List</h2>
<ul id="recommendedDomainList"></ul>

<!--<div id="customerRetrieveSuccessModal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close-button" onclick="closeModal()">&times;</span>-->
<!--&lt;!&ndash;    <h2>업로드 성공!</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>파일 업로드가 성공적으로 완료되었습니다.</p>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<script src="/client_get.js"></script>

</body>
</html>